# Environment Config

# Save this file as ".env" and insert the configuration values.
# Note: .env is a deployment-specific config file and thus ignored by version control.

TUIO_ADDRESS=
TUIO_PORT=
GESTURE_ADDRESS=
GESTURE_PORT=
